<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankAccount In QR</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>
</head>
<body class="bg-white text-gray-800">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-center mb-4">계좌번호 in QR</h1>
        {% if error %}
            <script>
                showAlert("{{ error }}");
            </script>
        {% endif %}
        <form action="/generate_qr" method="post" class="max-w-md mx-auto p-6 rounded-lg shadow-lg" style="background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);">
            <label for="bank_name" class="block text-sm font-medium text-white">Bank Name:</label>
            <select id="bank_name" name="bank_name" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="">Select a bank</option>
                <option value="카카오뱅크">카카오뱅크</option>
                <option value="국민">국민</option>
                <option value="신한">신한</option>
                <option value="우리">우리</option>
                <option value="하나">하나</option>
                <option value="토스뱅크">토스뱅크</option>
                <option value="농협">농협</option>
                <option value="케이뱅크">케이뱅크</option>
                <option value="기업">기업</option>
                <option value="SC제일">SC제일</option>
                <option value="대구">대구</option>
                <option value="새마을">새마을</option>
                <option value="산업">산업</option>
                <option value="부산">부산</option>
                <option value="수협">수협</option>
                <option value="씨티">씨티</option>
                <option value="신협">신협</option>
                <option value="경남">경남</option>
                <option value="저축은행">저축은행</option>
                <option value="우체국">우체국</option>
                <option value="전북">전북</option>
                <option value="광주">광주</option>
                <option value="제주">제주</option>
                <option value="산림조합">산림조합</option>
            </select>
            <br>
            <label for="account_number" class="block text-sm font-medium text-white">Account Number:</label>
            <input type="text" id="account_number" name="account_number" pattern="\d*" title="Please enter numbers only" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <br>
            <button type="submit" class="w-full py-2 px-4 bg-white text-indigo-700 font-semibold rounded-lg shadow-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-75">Generate QR Code</button>
        </form>

        {% if qr_code %}
            <h2 class="text-2xl font-bold text-center mt-4">Scan the QR Code</h2>
            <div class="flex justify-center mt-4">
                <img src="{{ qr_code }}" alt="QR Code" id="qrCodeImage" class="rounded-lg shadow-lg">
            </div>
        {% endif %}
    </div>
</body>
</html>
